node_modules
*.pyc
*.ipynb
__pycache__
.local/

# docs
__generated__
\#$
data/
etc/
/src/
yarn-error.log

# mobile/builds
db/
logfile
env/
venv/
.venv
.vscode
.autoenv
.env
.envrc
# web/static
label_studio/frontend/dist/react-app
deploy/license.txt
deploy/logs/
deploy/redis-data/
deploy/dockerfiles/postgres-data
deploy/dockerfiles/mysql-data
postgres-data
mysql-data

label_studio/core/media
label_studio/core/downloads
label_studio/core/export

label_studio/core/static_build
label_studio/core/version_.py
label_studio/core/core

archive

*.rtl.css
*.rtl.min.css
*.idea/*
.vscode/*
pyrightconfig.json
tags.temp
mydatabase
label_studio.sqlite3
*.egg-info
tmp
.DS_Store
*.sqlite3
label_studio/core/settings/local.py
deploy/nginx/certs/*
!deploy/nginx/certs/.placeholder
mydata/
deploy/pgsql/certs/*
!deploy/pgsql/certs/.placeholder

*.swp
*.swo
*.swn
1/*
*/*/1/*
docker-compose.override.yml

.config/*
.python_history
.viminfo
.bash_history
name_of_environment
label_studio/frontend/dist/react-app/index.js
label_studio/frontend/dist/react-app/index.js
label_studio/frontend/dist/react-app/main.css
label_studio/frontend/dist/react-app/index.js
label_studio/frontend/dist/react-app/index.js.map
label_studio/frontend/dist/react-app/main.css
label_studio/frontend/dist/react-app/index.js
label_studio/frontend/dist/react-app/index.js
label_studio/frontend/dist/react-app/index.js
.gitignore
.gitignore
label_studio/frontend/dist/react-app/main.css
label_studio/frontend/dist/react-app/main.css.map
label_studio/frontend/dist/react-app/index.js
label_studio/frontend/dist/react-app/index.js.map
label_studio/frontend/dist/react-app/main.css
label_studio/frontend/dist/react-app/main.css.map
label_studio/users/templates/users/new-ui/user_signup.html
label_studio/users/migrations/0015_auto_20231114_0634.py
label_studio/users/migrations/0014_auto_20231102_1051.py
label_studio/users/migrations/0013_auto_20231101_1451.py
label_studio/users/migrations/0012_auto_20231026_1846.py
label_studio/users/migrations/0011_auto_20230923_0839.py
label_studio/users/migrations/0010_auto_20230915_1110.py
label_studio/users/migrations/0009_auto_20230914_1622.py
label_studio/users/migrations/0008_auto_20230914_1104.py
label_studio/users/migrations/0007_otp.py
label_studio/users/migrations/0006_user_allow_newsletters.py
label_studio/users/migrations/0005_auto_20211010_1339.py
label_studio/users/migrations/0003_user_active_organization.py
label_studio/users/migrations/0004_auto_20210914_0109.py
label_studio/users/migrations/0002_auto_20210308_1559.py
label_studio/users/migrations/0001_squashed_0009_auto_20210219_1237.py
