{% extends 'users/user_base.html' %}
{% load static %}
{% block user_content %}
<style>
    /* Add the CSS for error highlighting */
    .error-border {
        border: 2px solid red;
    }

    /* Additional CSS for positioning the reset password link */
    .relative {
        position: relative;
    }
    .absolute-top-right {
        position: absolute;
        top: 0;
        right: 0;
    }
    .logo-image {
    width: 250px;
    height: auto;
    z-index: 2;
}
.data-studio-title {
        font-size: 2.5em; /* Increase the font size */
        text-align: left; /* Align text to the left */
        margin-bottom: 20px; /* Add some margin below the title */
        margin-left: 10%; /* Shift title slightly to the right for better positioning */
    }

</style>
<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.getElementById('eyeIcon');

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.innerHTML = '<path d="M1 6s4.5-6 11-6 11 6 11 6-4.5 6-11 6-11-6-11-6z" stroke="currentColor" stroke-width="2"/><path d="M12 9a3 3 0 100-6 3 3 0 000 6z" stroke="currentColor" stroke-width="2"/>'; // open eye
        } else {
            passwordInput.type = "password";
            eyeIcon.innerHTML = '<path d="M1 6s4.5-6 11-6 11 6 11 6-4.5 6-11 6-11-6-11-6z" stroke="currentColor" stroke-width="2"/><path d="M12 9a3 3 0 100-6 3 3 0 000 6z" stroke="currentColor" stroke-width="2"/><path d="M2 6l20 0M12 2l0 8" stroke="currentColor" stroke-width="2"/>'; // closed eye
        }
    }
</script>



<div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
        <!-- <h1 class="data-studio-title">Data Studio</h1> -->
        
        <img src="{{ settings.HOSTNAME }}{% static 'images/Screenshot 2023-09-14 133842.9af3b5e17701.jpg' %}" alt="Data Studio Logo" class="logo-image">
        <br>
        <div class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-lg">
            <div class="mb-4">
                <label class="font-bold text-grey-darker block mb-2">Log into Your Data Studio Account</label>
            </div>
            <form id="login-form" action="{% url 'user-login' %}{% if next %}?next={{ next }}{% endif %}" method="post">
                {% csrf_token %}
                <!-- Email -->
                <div class="mb-4">
                    <label class="font-bold text-grey-darker block mb-2">Email</label>
                    <input 
                        type="text" 
                        class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow {% if form.email.errors %}error-border{% endif %}" 
                        name="email" 
                        id="email" 
                        placeholder="Email" 
                        value="{{ form.data.email }}"
                    >
                    {% if form.email.errors %}
                        <div class="text-red-500 mt-2">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="mb-4 relative">
                    <a href="{{ reset_password_url }}" class="absolute-top-right text-blue-500 hover:text-blue-700 text-sm">Reset Password?</a>
                    
                    <label class="font-bold text-grey-darker block mb-2">Password</label>
                    
                    <div class="relative"> <!-- This div wraps the input and the eye icon -->
                        <input 
                            type="password" 
                            class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow {% if form.password.errors %}error-border{% endif %}" 
                            name="password" 
                            id="password" 
                            placeholder="Password"
                        >
                        <svg onclick="togglePasswordVisibility()" id="eyeIcon" class="absolute top-1/2 transform -translate-y-1/2 right-2.5 h-5 w-5 text-gray-500 cursor-pointer" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6s4.5-6 11-6 11 6 11 6-4.5 6-11 6-11-6-11-6z" stroke="currentColor" stroke-width="2"/><path d="M12 9a3 3 0 100-6 3 3 0 000 6z" stroke="currentColor" stroke-width="2"/></svg>
                    </div>
                
                    {% if form.password.errors %}
                        <div class="text-red-500 mt-2">
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                <div class="mb-4">
                    <input type="checkbox" id="persist_session" name="persist_session" class="ls-checkbox" checked="checked" style="width: auto;" />
                    <label for="persist_session">Keep me logged in this browser</label>
                </div>

                <div class="flex mt-4">
                    <button type="submit" aria-label="Log In" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        Log in
                    </button>
                </div>

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="error">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="text-center">
            <p class="text-grey-dark text-sm">Don't have an account? <a href="{{ settings.HOSTNAME }}/user/signup" class="no-underline text-blue font-bold">Sign Up</a></p>
        </div>
    </div>
</div>
{% endblock %}
