.project-menu
  display flex
  height 100%
  align-items stretch
  font-size 16px
  padding 8px 0
  box-sizing border-box

  &__Button
    height 31px

    &:global(.active)
      opacity 1
      background-color rgba(#000, 0.08)

    &:hover
      opacity 0.9
